/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #212121;
  text-decoration: none; }

.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

header {
  font-family: 'Ubuntu', sans-serif; }

.nav-wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.main-nav {
  border-bottom: 4px solid #bbbbbb; }

.nav-box {
  padding: 21px 0 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .nav-box .logo-box {
    height: 84px;
    width: 84px; }
    .nav-box .logo-box img {
      width: 100%; }
  .nav-box .navbar-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .nav-box .navbar-container .secondary-nav {
      -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
      align-self: flex-end;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .nav-box .navbar-container .secondary-nav li {
        padding: 0 20px 30px; }
        .nav-box .navbar-container .secondary-nav li:first-child {
          padding-left: 0; }
        .nav-box .navbar-container .secondary-nav li:last-child {
          padding-right: 0; }
      .nav-box .navbar-container .secondary-nav a {
        font-size: 14px;
        font-weight: 300;
        color: #bbbbbb; }
.current_page_ancestor a{
  color: #094d9b;
}
.current_page_item a{
  color: #094d9b;
}
.primary-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .primary-nav li {
    padding: 0 22px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    height: 50px; }
    .primary-nav li:first-child {
      padding-left: 0; }
    .primary-nav li:last-child {
      padding-right: 0; }
    .primary-nav li ul.sub-menu {
      display: none;
      position: absolute;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 325px;
      top: 50px;
      background: #094d9b;
      z-index: 10; }
      .primary-nav li ul.sub-menu li {
        padding: 0;
        position: relative;
        border-left: 4px solid #094589; }
        .primary-nav li ul.sub-menu li::before {
          content: '';
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          width: 0;
          height: 0;
          top: 15px;
          border-top: 5px solid transparent;
          border-left: 5px solid #094d9b;
          border-bottom: 5px solid transparent; }
        .primary-nav li ul.sub-menu li:hover {
          background: #094589;
          border-left: 4px solid #073a74; }
        .primary-nav li ul.sub-menu li:hover::before {
          border-left: 5px solid #073a74; }
        .primary-nav li ul.sub-menu li:hover a {
          opacity: 1; }
        .primary-nav li ul.sub-menu li a {
          color: #fff;
          font-weight: 500;
          font-size: 12px;
          opacity: 0.7;
          line-height: 18px;
          padding: 10px 30px;
          display: block;
          width: 100%;
          height: 100%;}
  .primary-nav .menu-item-has-children {
    position: relative; }

    .primary-nav .menu-item-has-children::after {
      content: '';
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      top: 25px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #212121; }
    .primary-nav .menu-item-has-children .sub-menu li {
      height: auto; }
      .primary-nav .menu-item-has-children .sub-menu li a{
        pointer-events: all;}
        /*.primary-nav .menu-item-has-children .sub-menu li.current_page_item a{
          color: #094589;
        }*/
  .primary-nav a {
    font-size: 16px;
    font-weight: 700; }
    .primary-nav a:hover{
      color: #094d9b;
    }

    #menu-main-nav .menu-item-has-children{
      position: static;
    }
    #menu-main-nav .menu-item-has-children a{
      pointer-events: all;
    }
    #menu-main-nav .menu-item-has-children::after{
      content: none;
    }
    #menu-main-nav .menu-item-has-children:hover ul.sub-menu {
      display: none;
    }

@media screen and (max-width: 1024px) {
  .primary-nav li {
    padding: 0 15px; } }

@media screen and (max-width: 991px) {
  .nav-wrapper {
    max-width: none;
    width: 100%;
    padding: 0; }
    .primary-nav .menu-item-has-children a {
      pointer-events: none;}
  .nav-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 10px 0 0;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .nav-box .logo-box {
      -webkit-align-self: center;
      -ms-flex-item-align: center;
      align-self: center;
      margin-bottom: 10px; }
    .nav-box .navbar-container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
      width: 100%; }
      .nav-box .navbar-container .secondary-nav {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        width: 100%;
        text-align: center;
        display: none; }
        .nav-box .navbar-container .secondary-nav li {
          width: 50%;
          padding: 0; }
          .nav-box .navbar-container .secondary-nav li:hover {
            background: #e1e1e1; }
          .nav-box .navbar-container .secondary-nav li a {
            padding: 20px 30px;
            display: block;
            width: 100%; }
      .nav-box .navbar-container .open-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; }
  .primary-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    display: none; }
    .primary-nav a {
      padding: 20px 0 20px 30px;
      display: block;
      width: 100%;
      height: 100%; }
    .primary-nav li {
      height: auto;
      padding: 0; }
      .primary-nav li ul.sub-menu {
        display: none;
        position: static;
        width: auto; }
        .primary-nav li ul.sub-menu li {
          border-left: 0;
          padding: 0; }
          .primary-nav li ul.sub-menu li::before {
            content: none; }
          .primary-nav li ul.sub-menu li:hover::before {
            border-left: 0; }
          .primary-nav li ul.sub-menu li:hover {
            border-left: 0; }
          .primary-nav li ul.sub-menu li a {
            padding: 20px 40px; }
      .primary-nav li:hover {
        background: #e1e1e1; }
    .primary-nav .menu-item-has-children .open {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    .primary-nav .menu-item-has-children::after {
      top: 28px;
      right: auto;
      left: 105px; }
  .open-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

#nav-icon {
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 40px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10; }

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #094d9b;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out; }

#nav-icon span:nth-child(1) {
  top: 0; }

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px; }

#nav-icon span:nth-child(4) {
  top: 18px; }

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%; }

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%; }

@media screen and (max-width: 991px) {
  #nav-icon {
    display: block; } }

@media screen and (min-width: 992px) {
  .primary-nav .menu-item-has-children:hover ul.sub-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

footer {
  font-family: 'Ubuntu', sans-serif; }

.top-menu {
  background: #094d9b; }

.footer-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100px; }
  .footer-menu li {
    padding: 0 20px; }
    .footer-menu li a {
      font-weight: 700;
      font-size: 14px;
      color: #fff; }
    .footer-menu li:first-child {
      padding-left: 0; }
    .footer-menu li:last-child {
      padding-right: 0; }

.footer-copyrights {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  flex-direction: column;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .footer-copyrights p {
    color: #094d9b;
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 12px; }
    .footer-copyrights a {
      font-weight: 700;
      padding-bottom: 10px;
      font-size: 14px; }

@media screen and (max-width: 991px) {
  .footer-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto; }
    .footer-menu li {
      padding: 10px 0; } }

.about-services {
  background: #094d9b;
  height: 525px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.icons-box {
  max-width: 960px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }
  .icons-box .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .icons-box .icon img {
      padding-bottom: 40px; }
    .icons-box .icon h2 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      text-transform: uppercase;
      color: #fff; }
      .icons-box .icon h2 span {
        font-weight: 700; }

.about-content {
  padding-top: 100px;
  padding-bottom: 100px; }
  .about-content h1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #094d9b;
    text-transform: uppercase;
    padding-bottom: 90px; }
    .about-content h1 img {
      padding-right: 80px; }
  .about-content .about-content-box {
    text-align: center; }
    .about-content .about-content-box p {
      font-family: 'Hind', sans-serif;
      font-weight: 500;
      color: #838383;
      max-width: 750px;
      margin: 0 auto;
      padding-bottom: 30px; }
  .about-content .about-contact-box {
    text-align: center; }
    .about-content .about-contact-box p {
      font-family: 'Hind', sans-serif;
      font-weight: 500;
      color: #094d9b;
      font-size: 18px; }
    .about-content .about-contact-box a {
      font-family: 'Hind', sans-serif;
      font-weight: 500;
      color: #094d9b;
      font-size: 18px; }
    .about-content .about-contact-box .contact-box-button {
      padding-top: 120px; }
      .about-content .about-contact-box .contact-box-button a {
        max-width: 230px;
        height: 58px;
        margin: 0 auto;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        border-radius: 30px;
        background: #094d9b; }
        .about-content .about-contact-box .contact-box-button a:hover {
          background: #1973e5;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }

@media screen and (max-width: 680px) {
  .about-services {
    height: auto;
    padding: 30px 0; }
    .about-services .icons-box {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      .about-services .icons-box .icon {
        padding-bottom: 30px; }
        .about-services .icons-box .icon img {
          padding-bottom: 10px; }
  .about-content {
    padding: 30px 0; }
    .about-content h1 {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-bottom: 20px; }
      .about-content h1 img {
        padding-right: 0;
        padding-bottom: 20px; }
  .about-content .about-contact-box .contact-box-button {
    padding-top: 30px; } }

.services {
  padding-top: 50px; }

.service-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
  background: #f9f9f9;
 }
  .service-box:nth-child(2n) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse; }
  .service-box .image {
    max-height: 580px;
    max-width: 670px; }
    .service-box .image img {
      width: 100%;
      height: 100%; }
  .service-box .content {
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
    .service-box .content h2 {
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      font-size: 30px;
      padding-bottom: 50px;
      text-transform: uppercase; }
    .service-box .content p {
      font-family: 'Cabin', sans-serif;
      font-weight: 600;
      font-size: 18px;
      max-width: 310px;
      margin: 0 auto;
      color: #767676;
      max-height: 140px;
      overflow: hidden; }
    .service-box .content span {
      font-family: 'Cabin', sans-serif;
      color: #767676; }
  .service-box .about-button {
    padding-top: 60px; }
    .service-box .about-button a {
      max-width: 230px;
      height: 58px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      border-radius: 30px;
      background: #094d9b; }
      .service-box .about-button a:hover {
        background: #1973e5;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }

@media screen and (max-width: 991px) {
  .service-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;}
    .service-box:nth-child(2n) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column; }
    .service-box .image {
      max-height: 420px;
      max-width: 485px; }
      .service-box .image img {
        width: 100%;
        height: 100%; }
    .service-box .content {
      padding-top: 20px; }
      .service-box .content h2 {
        padding-bottom: 20px; }
    .service-box .about-button {
      padding-top: 30px; } }

.single-service-header {
  height: calc(100vh - 123px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center; }

  .single-service-header::after{
    content: '';
    background: url("../img/mouse.png");
    background-repeat: no-repeat;
    height: 78px;
    width: 17px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .single-service-header h1 {
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #fff;
    max-width: 770px;
    margin: 0 auto;
    text-align: center; }

.single-service-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 200px; }
  .single-service-content aside {
    width: 31.5%;
    border-top: 4px solid #bbbbbb; }
    .single-service-content aside .aside-nav-box{
      background: #f9f9f9;
      padding-bottom: 25px;
    }
    .single-service-content aside .aside-nav {
      padding-left: 22px;
      padding-top: 25px; }
      @media screen and (max-width: 991px){
        .single-service-content aside .aside-nav{
          padding-left: 15px;
        }
      }
      .single-service-content aside .aside-nav li {
        padding-bottom: 30px; }
        .single-service-content aside .aside-nav li:last-child {
          padding-bottom: 0; }
        .single-service-content aside .aside-nav li a {
          font-size: 14px;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 700;
          color: #212121;
          text-transform: uppercase; }
          .single-service-content aside .aside-nav li.current_page_item a{
            color: #094d9b;
          }
          .single-service-content aside .aside-nav li a:hover{
            color: #094d9b;
          }
      .single-service-content aside .aside-nav .menu-item-has-children {
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        color: #212121;
        text-transform: uppercase; }
        .single-service-content aside .aside-nav .menu-item-has-children .sub-menu {
          padding-left: 10px;
          padding-top: 22px; }
          .single-service-content aside .aside-nav .menu-item-has-children .sub-menu li {
            position: relative;
            padding-left: 10px;
            padding-bottom: 20px; }
            .single-service-content aside .aside-nav .menu-item-has-children .sub-menu li a {
              font-size: 12px;
              font-weight: 400;
              color: #8f8f8f; }
              .single-service-content aside .aside-nav .menu-item-has-children .sub-menu li a:hover{
                color: #094d9b;
              }
              .single-service-content aside .aside-nav .menu-item-has-children .sub-menu li.current_page_item a {
                color: #094d9b; }
            .single-service-content aside .aside-nav .menu-item-has-children .sub-menu li:last-child {
              padding-bottom: 0; }
            .single-service-content aside .aside-nav .menu-item-has-children .sub-menu li::before {
              content: '';
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              width: 0;
              height: 0;
              top: 5px;
              border-top: 4px solid transparent;
              border-left: 4px solid #212121;
              border-bottom: 4px solid transparent; }
  .single-service-content .content-box {
    width: 66%;
    border-top: 4px solid #094d9b;
    background: #f9f9f9;
    padding-bottom: 100px;
    margin-right: 0px;
  }
    .single-service-content .content-box h2 {
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
      font-size: 36px;
      color: #094d9b;
      text-transform: uppercase;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold; }
      @media screen and (max-width: 480px){
        .single-service-content .content-box h2{
          font-size: 25px;
        }
      }
    .single-service-content .content-box p {
      color: #212121;
      opacity: 0.7;
      font-size: 16px;
      width: 100%;
      font-family: 'Cabin', sans-serif;
      font-weight: 500;
      padding-bottom: 25px; }
  .single-service-content .service-box-button {
    padding-top: 100px; }
    .single-service-content .service-box-button a {
      width: 270px;
      height: 58px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      border-radius: 30px;
      background: #094d9b; }
      .single-service-content .service-box-button a:hover {
        background: #1973e5;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }

@media screen and (max-width: 991px) {
  .single-service-header {
    height: calc(100vh - 108px); }
  .single-service-content {
    margin: 0 -15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    padding-top: 0px;
    padding-bottom: 0px; }
    .single-service-content aside {
      width: auto; }
    .single-service-content .content-box {
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      padding-top: 50px;
      border-top: 0; }
      .single-service-content .content-box h2 {
        padding-top: 0;
        padding-bottom: 20px; }
    .single-service-content .service-box-button {
      padding-top: 30px;
      padding-bottom: 30px; } }

@media screen and (max-width: 768px) {
  .single-service-header h1 {
    font-size: 45px; } }

@media screen and (max-width: 480px) {
  .single-service-header {
    height: calc(60vh - 123px); }
    .single-service-header h1 {
      font-size: 30px;
      max-width:90%;
margin:0 auto; } }

#map {
  width: 100%;
  height: 60vh;
  margin-bottom: 100px; }

.contact-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 150px; }

.contact-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 66%;
  background: #f9f9f9;
  padding: 70px 70px 0 70px;  }
  .contact-form h2 {
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px; }
  .contact-form .wpcf7 .wpcf7-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

    .contact-form .wpcf7 .wpcf7-form input {
      text-align: center;
      margin-top: 50px;
      width: 100%;
      outline: none;
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
      color: #212121;
      opacity: 0.7;
      border: none;
      background: #f9f9f9;
      border-bottom: 1px solid #7c7c7c;
      padding-bottom: 10px; }
      .contact-form .wpcf7 .wpcf7-form .your-name input:first-child{
        margin-top: 0;
      }
      .contact-form .wpcf7 .wpcf7-form textarea{
        text-align: center;
          margin-top: 50px;
        outline: none;
        background: #f9f9f9;
        height: 27px;
          width: 100%;
        resize: none;
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        color: #212121;
        opacity: 0.7;
        border: none;
        border-bottom: 1px solid #7c7c7c;
        padding-bottom: 10px;
      }
    .contact-form .contact-form-container #message {
      margin-bottom: 150px; }
    .contact-form .wpcf7 .wpcf7-form .wpcf7-submit {
      width: 230px;
      cursor: pointer;
      height: 58px;
      border: 0;
      outline: none;
      opacity: 1;
      margin: 0 auto;
      margin-top: 50px;
      padding-bottom: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      border-radius: 30px;
      background: #094d9b; }
      .contact-form .contact-form-container #submit:hover {
        background: #1973e5;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }

.contact-info {
  width: 34%;
  background: #094d9b;
  padding: 135px 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .contact-info .adress {
    text-align: center; }
    .contact-info .adress h3 {
      font-family: 'Hind', sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      padding: 15px 0; }
    .contact-info .adress p {
      font-family: 'Hind', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      opacity: 0.7; }
  .contact-info .email {
    text-align: center;
    padding-top: 86px; }
    .contact-info .email h3 {
      font-family: 'Hind', sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      padding: 15px 0; }
    .contact-info .email a {
      font-family: 'Hind', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      opacity: 0.7; }

@media screen and (max-width: 991px) {
  .contact-box {
    padding-bottom: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .contact-form {
    width: 100%;
   }
    .contact-form .contact-form-container #message {
      margin-bottom: 50px; }
    .contact-form .contact-form-container #submit {
      margin-bottom: 30px; }
  .contact-info {
    padding: 55px 32px;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .contact-info .email {
      padding-top: 0px; }
      .contact-info .email h3 {
        padding: 24px 0 12px 0; } }
@media screen and (max-width: 768px){
  .contact-form{
    padding: 20px 30px;
  }
}
@media screen and (max-width: 480px) {
  .contact-form{
    padding: 10px 20px;
  }
  .contact-info {
    padding: 55px 32px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contact-info .email {
      padding-top: 20px; }
      .contact-info .email h3 {
        padding: 24px 0 12px 0; } }

.homepage-header {
  position: relative; }

.slide {
  height: calc(100vh - 123px);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  outline: 0;
  background-position: 30% 0%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 991px){
    .slide{
      height: calc(100vh - 108px);
    }
  }

.slider-wrapper {
  width: 600px; }

.slider {
  width: 600px;
  height: 400px;
  border: 1px solid #000; }

.slide-content h2 {
  border-left: 30px solid #094d9b;
  border-top: 30px solid #094d9b;
  padding: 23px 0 0 23px;
  max-width: 760px;
  font-size: 36px;
  font-weight: 300;
  font-family: 'Ubuntu', sans-serif;
  color: #212121; }
  .slide-content h2 span {
    font-weight: 700; }

/* progress bar */
.slider-progress {
  width: 100%;
  height: 4px;
  background: #bbbbbb;
  position: absolute;
  top: -4px; }

.slider-progress .progress {
  width: 0%;
  height: 4px;
  background: #094d9b; }

.spacer-top {
  height: 250px;
  width: 100%;
  background: #fff;
  margin-bottom: -100px;
  z-index: -100; }

.spacer-bottom {
  height: 250px;
  width: 100%;
  background: #fff;
  margin-top: -100px;
  z-index: -100; }

.homepage-content-box {
  background: url("../img/homepage-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.content-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 1060px;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
  min-height: 830px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .content-box .single-box {
    width: 48%;
    background: #f9f9f9;
    padding: 80px 75px;
    text-align: center;
    border-top: 4px solid #eeeeee;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 5; }
    .content-box .single-box h3 {
      font-family: 'Ubuntu', sans-serif;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      min-height: 68px; }
    .content-box .single-box p {
      font-family: 'Cabin', sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding-top: 60px;
      min-height: 100px;
      opacity: 0.7;
      min-height: 210px;
      padding-bottom: 10px; }
    .content-box .single-box .homepage-box-button a {
      max-width: 230px;
      height: 58px;
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      color: #000;
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 700;
      border-radius: 30px;
      background: #009d6e; }
    .content-box .single-box:nth-child(1) {
      margin-right: 15px;
      margin-bottom: 15px; }
      .content-box .single-box:nth-child(1) a {
        background: #009d6e; }
        .content-box .single-box:nth-child(1) a:hover {
          background: #00d192;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
    .content-box .single-box:nth-child(2) {
      margin-left: 15px;
      margin-bottom: 15px; }
      .content-box .single-box:nth-child(2) a {
        background: #edb800; }
        .content-box .single-box:nth-child(2) a:hover {
          background: #ffcc1e;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
    .content-box .single-box:nth-child(3) {
      margin-right: 15px;
      margin-top: 15px; }
      .content-box .single-box:nth-child(3) a {
        background: #edb800; }
        .content-box .single-box:nth-child(3) a:hover {
          background: #ffcc1e;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }
    .content-box .single-box:nth-child(4) {
      margin-left: 15px;
      margin-top: 15px; }
      .content-box .single-box:nth-child(4) a {
        background: #009d6e; }
        .content-box .single-box:nth-child(4) a:hover {
          background: #00d192;
          -webkit-transition: all .3s;
          -o-transition: all .3s;
          transition: all .3s; }

@media screen and (max-width: 960px) {
  .content-box {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
    .content-box .single-box {
      width: 100%;
      padding: 40px 35px; }
      .content-box .single-box h3 {
        min-height: auto; }
      .content-box .single-box p {
        padding-top: 30px;
        min-height: auto;
        padding-bottom: 10px; }
        .content-box .single-box .homepage-box-button {
          padding-top: 30px; }
      .content-box .single-box:nth-child(1) {
        margin-right: 0;
        margin-bottom: 15px; }
      .content-box .single-box:nth-child(2) {
        margin-left: 0; }
      .content-box .single-box:nth-child(3) {
        margin-right: 0;
        margin-top: 15px;
        -webkit-box-ordinal-group: 5;
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4; }
      .content-box .single-box:nth-child(4) {
        margin-left: 0;
        margin-top: 0; } }

@media screen and (max-width: 480px) {
  .content-box .single-box h3 {
    font-size: 20px; }
  .content-box .single-box p {
    font-size: 15px;
    padding-top: 20px; }
  .slide-content h2 {
    border-left: 15px solid #094d9b;
    border-top: 15px solid #094d9b;
    padding: 13px 0 0 13px;
    max-width: 760px;
    font-size: 26px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    color: #212121; }
    .slide-content h2 span {
      font-weight: 700; }
  .spacer-top, .spacer-bottom {
    height: 150px; } }

/*poprawki*/
.footer-nav-menu .footer-menu{
    padding: 20px 0;
}

.spacer{
  padding-bottom: 25px;
  display: block;
}
.single-service-content .content-box ul li{
  color: #212121;
  opacity: 0.7;
  font-size: 16px;
  width: 100%;
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  padding-bottom:10px;
  margin-left: 15px;
  list-style: disc;
}
.single-service-content .content-box ul li:last-child{
  padding-bottom: 25px;
}
.single-service-content .content-box div{
  width: 100%;
}

.slick-dots{
  position: absolute;
  top: 30%;
  right: 12.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  padding: 15px;
  border-radius: 10px;
}
.slick-dots li{
  margin: 13px 0;
}
.slick-dots li button{
  background: url(../img/gear-disabled.png);
  height: 24px;
  width: 24px;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  border: none;
  outline: 0;
  cursor: pointer;
  position: relative;
}
.slick-dots li:first-child button::before{
  border: none;
}
.slick-dots li:last-child button::after{
  border: none;
}
.slick-dots li button::before{
  content: '';
  border: 1.5px solid rgba(187, 187, 187, 1);
  border-radius: 50%;
  height: 4px;
  width: 4px;
  position: absolute;
  top: -11px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.slick-dots li button::after{
  content: '';
  border: 1.5px solid rgba(187, 187, 187, 1);
  border-radius: 50%;
  height: 4px;
  width: 4px;
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.slick-dots li.slick-active button{
  background: url(../img/gear-active.png);
  height: 36px;
  width: 36px;
  background-position: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  border: none;
}
.slick-dots li.slick-active button::before{
  content: '';
  border: 1.5px solid #094d9b;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  position: absolute;
  top: -11px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.slick-dots li:first-child.slick-active button::before{
  border: 0;
}
.slick-dots li.slick-active button::after{
  content: '';
  border: 1.5px solid #094d9b;
  border-radius: 50%;
  height: 4px;
  width: 4px;
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.slick-dots li:last-child.slick-active button::after{
  border: 0;
}
@media screen and (max-width: 991px){
  .slick-dots{
    position: absolute;
    max-width: 400px;
    bottom: 10%;
    top: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .slick-dots li{
    margin: 10px 13px;
  }
  .slick-dots li:first-child button::before{
    border: none;
  }
  .slick-dots li:last-child button::after{
    border: none;
  }
  .slick-dots li button::before{
    content: '';
    border: 1.5px solid rgba(187, 187, 187, 1);
    border-radius: 50%;
    height: 4px;
    width: 4px;
    position: absolute;
    top: 9px;
    bottom: 0;
    left: -11px;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-dots li button::after{
    content: '';
    border: 1.5px solid rgba(187, 187, 187, 1);
    border-radius: 50%;
    height: 4px;
    width: 4px;
    position: absolute;
    top: 9px;
    bottom: 0;
    left: 28px;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-dots li.slick-active button{
    background: url(../img/gear-active.png);
    height: 36px;
    width: 36px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    border: none;
  }
  .slick-dots li.slick-active button::before{
    content: '';
    border: 1.5px solid #094d9b;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: -11px;
    right: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-dots li:first-child.slick-active button::before{
    border: 0;
  }
  .slick-dots li.slick-active button::after{
    content: '';
    border: 1.5px solid #094d9b;
    border-radius: 50%;
    height: 4px;
    width: 4px;
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .slick-dots li:last-child.slick-active button::after{
    border: 0;
  }
}
@media screen and (max-width: 480px){
  .slick-dots{
    position: absolute;
    bottom: 1%;
    top: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .homepage-header{
    height: calc(100vh - 108px);
  }
}
