.about-services{
  background: #094d9b;
  height: 525px;
  display: flex;
  align-items: center;
}
.icons-box{
  max-width: 960px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: baseline;
  .icon{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{
      padding-bottom: 40px;
    }
    h2{
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      font-weight: 300;
      text-align: center;
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      color: #fff;
      span{
        font-weight: 700;
      }
    }
  }
}
.about-content{
  padding-top: 100px;
  padding-bottom: 100px;
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 52px;
    color: #094d9b;
    text-transform: uppercase;
    padding-bottom: 90px;
    img{
      padding-right: 80px;
    }
  }
  .about-content-box{
    text-align: center;
    p{
      font-family: 'Hind', sans-serif;
      font-weight: 500;
      color: #838383;
      max-width: 750px;
      margin: 0 auto;
      padding-bottom: 30px;
    }
  }
  .about-contact-box{
    text-align: center;
    p{
      font-family: 'Hind', sans-serif;
      font-weight: 500;
      color: #094d9b;
      font-size: 18px;
    }
    a{
      font-family: 'Hind', sans-serif;
      font-weight: 500;
      color: #094d9b;
      font-size: 18px;
    }
    .contact-box-button{
      padding-top: 120px;
      a{
        max-width: 230px;
        height: 58px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        border-radius: 30px;
        background: #094d9b;
        &:hover{
          background: #1973e5;
          transition: all .3s;
        }
      }
    }
  }
}

@media screen and (max-width: 680px){
  .about-services{
    height: auto;
    padding: 30px 0;
    .icons-box{
      flex-direction: column;
      align-items: center;
      .icon{
        padding-bottom: 30px;
        img{
          padding-bottom: 10px;
        }
      }
    }
  }
  .about-content{
    padding: 30px 0;
    h1{
      flex-direction: column;
      padding-bottom: 20px;
      img{
        padding-right: 0;
        padding-bottom: 20px;
      }
    }
  }
  .about-content .about-contact-box .contact-box-button{
    padding-top: 30px;
  }
}
