#map{
  width: 100%;
  height: 60vh;
  margin-bottom: 100px;
}
.contact-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 60%;
  padding-top: 70px;
  h2{
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #212121;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    input{
      text-align: center;
      margin-bottom: 50px;
      outline: none;
      font-size: 14px;
      font-family: 'Ubuntu', sans-serif;
      color: #212121;
      opacity: 0.7;
      border: none;
      border-bottom: 1px solid #7c7c7c;
      padding-bottom: 10px;
    }
    #message{
      margin-bottom: 150px;
    }
    #submit {
      width: 230px;
      cursor: pointer;
      height: 58px;
      border: 0;
      outline: none;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      border-radius: 30px;
      background: #094d9b;
      &:hover{
        background: #1973e5;
        transition: all .3s;
      }
    }
  }
}
.contact-info{
  width: 34%;
  background: #094d9b;
  padding: 135px 80px;
  display: flex;
  flex-direction: column;
  .adress{
    text-align: center;
    h3{
      font-family: 'Hind', sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      padding: 15px 0;
    }
    p{
      font-family: 'Hind', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      opacity: 0.7;
    }
  }
  .email{
    text-align: center;
    padding-top: 86px;
    h3{
      font-family: 'Hind', sans-serif;
      font-size: 18px;
      font-weight: 700;
      color: #fff;
      padding: 15px 0;
    }
    a{
      font-family: 'Hind', sans-serif;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      opacity: 0.7;
    }
  }
}
@media screen and (max-width: 991px){
  .contact-box{
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
  }
  .contact-form{
    width: 100%;
    padding-top: 0px;
    .contact-form-container{
      #message{
        margin-bottom: 50px;
      }
      #submit{
        margin-bottom: 30px;
      }
    }
  }
  .contact-info{
    padding: 55px 32px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    .email{
      padding-top: 0px;
      h3{
        padding: 24px 0 12px 0;
      }
    }
  }
}
@media screen and (max-width: 480px){
  .contact-info{
    padding: 55px 32px;
    width: 100%;
    flex-direction: column;
    .email{
      padding-top: 20px;
      h3{
        padding: 24px 0 12px 0;
      }
    }
  }
}
