footer{
  font-family: 'Ubuntu', sans-serif;
}
.top-menu{
  background: #094d9b;
}
.footer-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  li{
    padding: 0 20px;
    a{
      font-weight: 700;
      font-size: 14px;
      color: #fff;
    }
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
}
.footer-copyrights{
  justify-content: center;
  height: 60px;
  display: flex;
  align-items: center;
  p{
    color: #094d9b;
    font-weight: 700;
    font-size: 12px;
  }
}
@media screen and (max-width: 991px){
  .footer-menu{
    flex-direction: column;
    height: auto;
    li{
      padding: 10px 0;
    }
  }
}
