header {
  font-family: 'Ubuntu', sans-serif;
}

.nav-wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.main-nav {
  border-bottom: 4px solid #bbbbbb;
}

.nav-box {
  .logo-box {
    height: 84px;
    width: 84px;

    img {
      width: 100%;
    }
  }
  padding: 21px 0 0;
  display: flex;
  justify-content: space-between;

  .navbar-container {
    display: flex;
    flex-direction: column;

    .secondary-nav {
      align-self: flex-end;
      display: flex;

      li {
        padding: 0 20px 30px;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }
      }

      a {
        font-size: 14px;
        font-weight: 300;
        color: #bbbbbb;
      }
    }
  }
}

.primary-nav {
  display: flex;

  li {
    padding: 0 22px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    height: 50px;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }

    ul.dropdown {
      display: none;
      position: absolute;
      flex-direction: column;
      width: 325px;
      top: 50px;
      background: #094d9b;
      z-index: 10;
      li {
        padding: 10px 30px;
        position: relative;
        border-left: 4px solid #094589;

        &::before {
          content: '';
          position: absolute;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          width: 0;
          height: 0;
          top: 15px;
          border-top: 5px solid transparent;
          border-left: 5px solid #094d9b;
          border-bottom: 5px solid transparent;
        }

        &:hover {
          background: #094589;
          border-left: 4px solid #073a74;
        }

        &:hover::before {
          border-left: 5px solid #073a74;
        }

        &:hover a {
          opacity: 1;
        }

        a {
          color: #fff;
          font-weight: 500;
          font-size: 12px;
          opacity: 0.7;
          line-height: 18px;
        }
      }
    }
  }

  .dropdown-menu {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      width: 0;
      height: 0;
      top: 25px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #212121;
    }

    .dropdown {
      li {
        height: auto;
      }
    }
  }

  a {
    font-size: 16px;
    font-weight: 700;
  }
}
@media screen and (max-width: 1024px) {
  .primary-nav li {
    padding: 0 15px;
  }
}
@media screen and (max-width: 991px) {
  .nav-wrapper {
    max-width: none;
    width: 100%;
    padding: 0;
  }

  .nav-box {
    flex-direction: column;
    padding: 10px 0 0;
    align-items: flex-start;

    .logo-box {
      align-self: center;
      margin-bottom: 10px;
    }

    .navbar-container {
      flex-direction: column-reverse;
      align-items: flex-start;
      width: 100%;

      .secondary-nav {
        align-self: center;
        width: 100%;
        text-align: center;
        display: none;

        li {
          width: 50%;
          padding: 0;

          &:hover {
            background: #e1e1e1;
          }

          a {
            padding: 20px 30px;
            display: block;
            width: 100%;
          }
        }
      }

      .open-nav {
        display: flex;
      }
    }
  }

  .primary-nav {
    flex-direction: column;
    width: 100%;
    display: none;

    a {
      padding: 20px 0 20px 30px;
      display: block;
      width: 100%;
      height: 100%;
    }

    li {
      height: auto;
      padding: 0;

      ul.dropdown {
        display: none;
        position: static;
        width: auto;

        li {
          border-left: 0;
          padding: 0;

          &::before {
            content: none;
          }

          &:hover::before {
            border-left: 0;
          }

          &:hover {
            border-left: 0;
          }

          a {
            padding: 20px 40px;
          }
        }
      }

      &:hover {
        background: #e1e1e1;
      }
    }

    .dropdown-menu {
      .open {
        display: flex;
      }
    }

    .dropdown-menu::after {
      top: 28px;
      right: auto;
      left: 105px;
    }
  }

  .open-nav {
    display: flex;
  }
}

#nav-icon {
  display: none;
  width: 30px;
  height: 20px;
  position: absolute;
  right: 30px;
  top: 40px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 10;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #094d9b;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 9px;
}

#nav-icon span:nth-child(4) {
  top: 18px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
@media screen and (max-width: 991px) {
  #nav-icon {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .primary-nav .dropdown-menu:hover ul.dropdown {
    display: flex;
  }
}
