.homepage-header{
  position: relative;
}
.slide{
  height: calc(90vh - 123px);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-position: 30% 0%;
  align-items: center;
}

.slider-wrapper {
  width: 600px;
}
.slider {
  width: 600px;
  height: 400px;
  border: 1px solid #000;
}
.slide-content{
  h2{
    border-left: 30px solid #094d9b;
    border-top: 30px solid #094d9b;
    padding: 23px 0 0 23px;
    max-width: 760px;
    font-size: 36px;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    color: #212121;
    span{
      font-weight: 700;
    }
  }
}


/* progress bar */
.slider-progress {
  width: 100%;
  height: 4px;
  background: #bbbbbb;
  position: absolute;
  top: -4px;

}
.slider-progress .progress {
  width: 0%;
  height: 4px;
  background: #094d9b;
}

.spacer-top{
  height: 250px;
  width: 100%;
  background: #fff;
  margin-bottom: -100px;
  z-index: -100;
}
.spacer-bottom{
  height: 250px;
  width: 100%;
  background: #fff;
  margin-top: -100px;
  z-index: -100;
}
.homepage-content-box{
  background: url('../img/homepage-background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content-box{
  display: flex;
  flex-wrap: wrap;
  max-width: 1060px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  min-height: 830px;
  justify-content: center;
  .single-box{
    width: 48.5%;
    background: #f9f9f9;
    padding: 80px 75px;
    text-align: center;
    border-top:4px solid #eeeeee;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
    h3{
      font-family: 'Ubuntu', sans-serif;
      font-size: 30px;
      font-weight: 700;
      text-transform: uppercase;
      min-height: 68px;
    }
    p{
      font-family: 'Cabin', sans-serif;
      font-weight: 600;
      font-size: 18px;
      padding-top: 60px;
      min-height: 100px;
      opacity: 0.7;
      min-height: 210px;
      padding-bottom: 10px;
    }
    .homepage-box-button{
      a{
        max-width: 230px;
        height: 58px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-family: 'Ubuntu', sans-serif;
        font-size: 18px;
        font-weight: 700;
        border-radius: 30px;
        background: #009d6e;
      }
    }
    &:nth-child(1){
      margin-right: 1.5%;
      margin-bottom: 1.5%;
      a{
        background: #009d6e;
        &:hover{
          background: #00d192;
          transition: all .3s;
        }
      }
    }
    &:nth-child(2){
      margin-left: 1.5%;
      margin-bottom: 1.5%;
      a{
        background:#edb800;
        &:hover{
          background: #ffcc1e;
          transition: all .3s;
        }
      }
    }
    &:nth-child(3){
      margin-right: 1.5%;
      margin-top: 1.5%;
      a{
        background: #edb800;
        &:hover{
          background: #ffcc1e;
          transition: all .3s;
        }
      }
    }
    &:nth-child(4){
      margin-left: 1.5%;
      margin-top: 1.5%;
      a{
        background: #009d6e;
        &:hover{
          background: #00d192;
          transition: all .3s;
        }
      }
    }
  }
}

@media screen and (max-width: 960px){
  .content-box{
    justify-content: center;
    flex-direction: column;
    .single-box{
      width: 100%;
      padding: 40px 35px;
      h3{
        min-height: auto;
      }
      p{
        padding-top: 30px;
        min-height: auto;
        padding-bottom: 10px;
      }
      &:nth-child(1){
        margin-right: 0;
        margin-bottom: 1.5%;
      }
      &:nth-child(2){
        margin-left: 0;
      }
      &:nth-child(3){
        margin-right: 0;
        margin-top: 1.5%;
        order: 4;
      }
      &:nth-child(4){
        margin-left: 0;
        margin-top: 0;
      }
    }
  }
}
@media screen and (max-width: 480px){
  .content-box{
    .single-box{
      h3{
        font-size: 20px;
      }
      p{
        font-size: 15px;
        padding-top: 20px;
      }
    }
  }
  .slide-content{
    h2{
      border-left: 15px solid #094d9b;
      border-top: 15px solid #094d9b;
      padding: 13px 0 0 13px;
      max-width: 760px;
      font-size: 26px;
      font-weight: 300;
      font-family: 'Ubuntu', sans-serif;
      color: #212121;
      span{
        font-weight: 700;
      }
    }
  }
  .spacer-top, .spacer-bottom{
    height: 150px;
  }
}
