.services{
  padding-top: 50px;
}

.service-box{
  display: flex;
  padding-bottom: 50px;
  &:nth-child(2n){
    flex-direction: row-reverse;
  }
  .image{
    max-height: 580px;
    max-width: 670px;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .content{
    max-width: 330px;
    margin: 0 auto;
    text-align: center;
    align-self: center;
    h2{
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      font-size: 30px;
      padding-bottom: 50px;
      text-transform: uppercase;
    }
    p{
      font-family: 'Cabin', sans-serif;
      font-weight: 600;
      font-size: 18px;
      max-width: 310px;
      margin: 0 auto;
      color: #767676;
      max-height: 140px;
      overflow: hidden;
    }
    span{
      font-family: 'Cabin', sans-serif;
      color: #767676;
    }
  }
  .about-button{
    padding-top: 60px;
    a{
      max-width: 230px;
      height: 58px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      border-radius: 30px;
      background: #094d9b;
      &:hover{
        background: #1973e5;
        transition: all .3s;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .service-box{
    flex-direction: column;
    align-items: center;
    &:nth-child(2n){
      flex-direction: column;
    }
    .image{
      max-height: 420px;
      max-width: 485px;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .content{
      padding-top: 20px;
      h2{
        padding-bottom: 20px;
      }
    }
    .about-button{
      padding-top: 30px;
    }
  }
}
