.single-service-header {
  height: calc(100vh - 123px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    text-transform: uppercase;
    font-size: 80px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
}

.single-service-content {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 200px;

  aside {
    width: 31.5%;
    border-top: 4px solid #bbbbbb;

    .aside-nav {
      padding-left: 22px;
      padding-top: 25px;

      li {
        padding-bottom: 30px;

        &:last-child {
          padding-bottom: 0;
        }

        a {
          font-size: 14px;
          font-family: 'Ubuntu', sans-serif;
          font-weight: 700;
          color: #212121;
          text-transform: uppercase;
        }
      }

      .sub-menu {
        font-size: 14px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;
        color: #212121;
        text-transform: uppercase;

        .sub-menu-items {
          padding-left: 10px;
          padding-top: 22px;

          li {
            position: relative;
            padding-left: 10px;
            padding-bottom: 20px;

            a {
              font-size: 12px;
              font-weight: 400;
              color: #8f8f8f;
            }

            &:last-child {
              padding-bottom: 0;
            }

            &::before {
              content: '';
              position: absolute;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              width: 0;
              height: 0;
              top: 5px;
              border-top: 4px solid transparent;
              border-left: 4px solid #212121;
              border-bottom: 4px solid transparent;
            }
          }
        }
      }
    }
  }

  .content-box {
    width: 65.5%;
    border-top: 4px solid #094d9b;

    h2 {
      padding-top: 100px;
      padding-bottom: 100px;
      text-align: center;
      font-size: 36px;
      color: #094d9b;
      text-transform: uppercase;
      font-family: 'Ubuntu', sans-serif;
      font-weight: bold;
    }

    p {
      color: #858585;
      font-size: 16px;
      font-family: 'Cabin', sans-serif;
      font-weight: 700;
      padding-bottom: 25px;
    }
  }

  .service-box-button {
    padding-top: 100px;

    a {
      width: 270px;
      height: 58px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
      font-family: 'Ubuntu', sans-serif;
      font-weight: 700;
      border-radius: 30px;
      background: #094d9b;
      &:hover{
        background: #1973e5;
        transition: all .3s;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .single-service-header{
    height: calc(100vh - 108px);
  }
  .single-service-content {
    flex-direction: column-reverse;
    padding-bottom: 30px;

    aside {
      width: auto;
    }

    .content-box {
      width: auto;
      padding-top: 0;
      border-top: 0;

      h2 {
        padding-top: 0;
        padding-bottom: 20px;
      }
    }

    .service-box-button {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
}
@media screen and (max-width: 768px) {
  .single-service-header h1 {
    font-size: 45px;
  }
}
@media screen and (max-width: 480px) {
  .single-service-header {
    height: calc(60vh - 123px);
    h1 {
      font-size: 35px;
    }
  }
}
